/backup
/backup/batchffmpeg.lps
/backup/batchffmpegmain.lps
batchffmpeg.lps
lib/x86_64-linux/batchffmpeg.o
lib/x86_64-linux/batchffmpegmain.o
lib/x86_64-linux/batchffmpegmain.ppu
*.lps
*.o
batchffmpeg.lps
backup/batchffmpeg.lps
lib/x86_64-linux/batchffmpeg.compiled
lib/x86_64-linux/batchffmpegmain.o
lib/x86_64-linux/batchffmpegmain.ppu
backup/batchffmpeg.lps
